.post-list {
  .post-item {
    color: var(--font-primary-color);
    text-decoration: none;
    padding: 16px;
    position: relative;
    margin-bottom: 1px;
    min-height: 72px;

    @include screen("xs", "xs") {
      display: block;
      margin-left: -16px;
      margin-right: -16px;
      width: calc(100% + 32px);
    }

    @include screen("sm", "xxl") {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:hover {
      background: var(--background-secondary-color);
    }

    &:not(:last-child)::before {
      content: "";
      border-bottom: 1px solid var(--separator-color);
      position: absolute;
      display: block;
      bottom: -1px;
      width: calc(100% - 32px);
      left: 16px;
    }

    .text {
      .title {
        font-size: var(--font-m-size);
        margin: 0;
        font-weight: var(--font-m-weight);
        position: relative;
        padding-left: 28px;
        margin-bottom: 4px;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          top: 0.55em;
          transform: translateY(-50%);
          left: 0;
          background-image: img('channel-icon.svg');
          background-size: 20px;
        }
      }

      p {
        margin: 0;
        font-size: var(--font-xs-size);
        margin-bottom: -2px;

        .highlight {
          padding: 2px;
          border-radius: 4px;
          background: var(--background-warning-color);
          box-shadow: 0 0 2px 0px var(--warning-color);
        }
      }
    }

    .category {
      background: var(--background-tertiary-color);
      padding: 8px;
      border-radius: 8px;
      font-size: var(--font-xs-size);
      color: var(--font-secondary-color);
      display: inline-block;
      margin-top: 8px;

      @include screen("sm", "xxl") {
        white-space: nowrap;
        margin-left: 8px;
        margin-top: 0px;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  @include screen("xs", "xs") {
    flex-wrap: wrap;
  }

  .page-numbers {
    height: 40px;
    width: 40px;
    font-size: var(--font-m-size);
    color: var(--font-primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-secondary-color);
    font-weight: var(--font-m-weight);

    &.current {
      font-weight: var(--font-xl-weight);
      color: var(--accent-color);
    }
    @include screen("xs", "xs") {
      margin: 1px;
      border-radius: 8px;
    }

    @include screen("sm", "xxl") {
      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }

  a.page-numbers:hover {
    background: var(--background-tertiary-color);
  }
}