header {
  height: 64px;
  background: var(--background-secondary-color);
  width: 100%;
  padding: 20px 8px 20px 52px;

  @include screen("lg", "xxl") {
    padding: 20px 16px 20px 16px;
  }

  h1 {
    font-size: 18px;
    @include elipsis;
    margin: 0;
    font-weight: 500;
    position: relative;
    padding-left: 32px;

    &::before {
      content: "";
      background-image: img('channel-icon.svg');
      width: 24px;
      height: 24px;
      background-size: 24px;
      position: absolute;
      left: 0;
    }
  }
}