@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-Bold.eot');
  src: local('gg sans Bold'), local('ggsans-Bold'),
      url('../fonts/ggsans/ggsans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-Bold.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-Bold.woff') format('woff'),
      url('../fonts/ggsans/ggsans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-SemiboldItalic.eot');
  src: local('gg sans SemiBold Italic'), local('ggsans-SemiboldItalic'),
      url('../fonts/ggsans/ggsans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-SemiboldItalic.woff') format('woff'),
      url('../fonts/ggsans/ggsans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-MediumItalic.eot');
  src: local('gg sans Medium Italic'), local('ggsans-MediumItalic'),
      url('../fonts/ggsans/ggsans-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-MediumItalic.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-MediumItalic.woff') format('woff'),
      url('../fonts/ggsans/ggsans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans Normal';
  src: url('../fonts/ggsans/ggsans-BoldItalic.eot');
  src: local('gg sans Bold Italic'), local('ggsans-BoldItalic'),
      url('../fonts/ggsans/ggsans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-BoldItalic.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-BoldItalic.woff') format('woff'),
      url('../fonts/ggsans/ggsans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-Semibold.eot');
  src: local('gg sans SemiBold'), local('ggsans-Semibold'),
      url('../fonts/ggsans/ggsans-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-Semibold.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-Semibold.woff') format('woff'),
      url('../fonts/ggsans/ggsans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-Medium.eot');
  src: local('gg sans Medium'), local('ggsans-Medium'),
      url('../fonts/ggsans/ggsans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-Medium.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-Medium.woff') format('woff'),
      url('../fonts/ggsans/ggsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-ExtraBold.eot');
  src: local('gg sans ExtraBold'), local('ggsans-ExtraBold'),
      url('../fonts/ggsans/ggsans-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-ExtraBold.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-ExtraBold.woff') format('woff'),
      url('../fonts/ggsans/ggsans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/ggsans/ggsans-ExtraBoldItalic.eot');
  src: local('gg sans ExtraBold Italic'), local('ggsans-ExtraBoldItalic'),
      url('../fonts/ggsans/ggsans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/ggsans/ggsans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans Normal';
  src: url('../fonts/ggsans/ggsans-Normal.eot');
  src: local('gg sans Normal'), local('ggsans-Normal'),
      url('../fonts/ggsans/ggsans-Normal.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-Normal.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-Normal.woff') format('woff'),
      url('../fonts/ggsans/ggsans-Normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gg sans Normal';
  src: url('../fonts/ggsans/ggsans-NormalItalic.eot');
  src: local('gg sans Normal Italic'), local('ggsans-NormalItalic'),
      url('../fonts/ggsans/ggsans-NormalItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ggsans/ggsans-NormalItalic.woff2') format('woff2'),
      url('../fonts/ggsans/ggsans-NormalItalic.woff') format('woff'),
      url('../fonts/ggsans/ggsans-NormalItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}