:root {
  // Colors
  --accent-color: hsl(207, 83%, 57%);
  --background-primary-color: hsl(223, 7%, 21%);
  --background-secondary-color: hsl(220, 7%, 18%);
  --background-tertiary-color: hsl(228, 7%, 15%);
  --font-primary-color: hsl(210, 9%, 87%);
  --font-secondary-color: hsl(214, 8%, 61%);
  --font-tertiary-color: hsl(223, 6%, 53%);
  --separator-color: hsl(225, 6%, 26%);
  --element-active-color: hsla(228, 6%, 33%, 60%);
  --element-hover-color: hsla(228, 6%, 33%, 29.8%);
  --scroll-color: hsl(225, 7%, 11%);

  --background-danger-color: #2c0f10;
  --background-warning-color: #2e2006;
  --background-success-color: #032404;
  --background-update-color: #031c24;
  --danger-color: #ff0008;
  --warning-color: #ffee00;
  --success-color: #00ff08;
  --update-color: #00bfff;

  // Font size
  --font-xs-size: 1.2rem;
  --font-s-size: 1.4rem;
  --font-m-size: 1.6rem;
  --font-l-size: 1.8rem;
  --font-xl-size: 2.4rem;
  --font-xxl-size: 3.2rem;

  // Font weight
  --font-s-weight: 400;
  --font-m-weight: 500;
  --font-l-weight: 600;
  --font-xl-weight: 700;
}

// Responsive breakpoints
$__breakpoint_xs: 0px;       // 0px - 479px
$__breakpoint_sm: 480px;     // 480px - 767px
$__breakpoint_md: 768px;     // 768px - 1023px
$__breakpoint_lg: 1024px;    // 1024pz - 1199px
$__breakpoint_xl: 1200px;    // 1200px - 1499px
$__breakpoint_xxl: 1500px;   // 1500px ^