@import 'variables';
@import 'typography';
@import 'mixins';
@import 'partials/base';
@import 'partials/navigation';
@import 'partials/header';
@import 'partials/home';
@import 'partials/footer';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: 'gg sans', sans-serif;
  background: var(--background-primary-color);
  color: var(--font-primary-color);
  overflow: hidden;
}

::selection {
  background-color: var(--accent-color);
  color: black;
}

input, select, textarea, button {
  font-family: 'gg sans', sans-serif;
}